<script defer type="text/javascript" async src="/js/script.js"></script>

<div>
    <button 
        class="
            py-3 
            px-5  
            text-sm 
            font-medium 
            text-center
            rounded-lg 
            border 
            cursor-pointer 
            bg-primary-700 
            border-primary-600 
            sm:rounded-none 
            sm:rounded-r-lg 
            hover:bg-primary-800 
            focus:ring-4 
            focus:ring-primary-300 
            dark:focus:ring-primary-800
            download-resume-btn"
        type="button" 
        onclick="viewPDF()"
    >
        View
    </button>
    <button 
    class="
        py-3 
        px-5  
        text-sm 
        font-medium 
        text-center
        rounded-lg 
        border 
        cursor-pointer 
        bg-primary-700 
        border-primary-600 
        sm:rounded-none 
        sm:rounded-r-lg 
        hover:bg-primary-800 
        focus:ring-4 
        focus:ring-primary-300 
        dark:focus:ring-primary-800
        download-resume-btn"
    type="button" 
    onclick="downloadResume()"
>
    Download
</button>
</div>