.resume-table {
    text-align: left;
}

.resume-dates {
    font-style: italic;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV 

Ref: https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/#:~:text=320px%20%E2%80%94%20480px%3A%20Mobile%20devices,%E2%80%94%201200px%3A%20Desktops%2C%20large%20screens
*/

.technical-skills-container {
    display: inline;
}

.technical-skill-span {
    color: #CBD5E1;
}


/* For any devices in landscape mode */
@media only screen and (orientation: landscape) {

    .technical-skills-container-inner {
        margin: 18px;
        width: 100%;
    }

    .technical-skill-span {
        margin: 4px;
        padding: 10px;
        color: #CBD5E1;
    }

    .technical-skill-span:click {
        zoom: 110%;
    }

}

/* 320px — 480px: Mobile devices portrait */
/* TODO: Does not work on S8+ - 360* 740. So we might need to see that */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {

    .technical-skills-container-inner {
        margin: 1px;
        width: 80%;
    }

    .technical-skill-span {
        margin: 1px;
        padding: 2px;
        color: #CBD5E1;
    }

    .technical-skill-span:hover {
        zoom: 110%;
    }

}

/* 481px — 768px: iPads, Tablets */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (orientation: portrait) {

    .technical-skills-container-inner {
        margin: 10px;
        width: 100%;
    }

    .technical-skill-span {
        margin: 1px;
        padding: 2px;
        color: #CBD5E1;
    }

    .technical-skill-span:hover {
        zoom: 110%;
    }

}

/* 769px — 1024px: Small screens, laptops */
@media only screen and (min-device-width: 796px) and (max-device-width: 1024px) and (orientation: portrait) {


    .technical-skills-container-inner {
        margin: 18px;
        width: 100%;
    }

    .technical-skill-span {
        margin: 4px;
        padding: 10px;
        color: #CBD5E1;
    }

    .technical-skill-span:hover {
        zoom: 110%;
    }

}


.download-resume-btn {
    width: 150px;
    margin: 5px;
    padding: 6.5px 13px;
    border-radius: 10px;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.dark .download-resume-btn {    
    background-color: #0c3855;
    border: 1px solid #46718d;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 2) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;    
}


.dark .download-resume-btn:hover {
    border-top-color: #28597a;
    background: #3c7da8;
    color: #ccc;
    transition: 1500ms
}

.light .download-resume-btn {    
    background-color: grey;
    border: 1px solid #6f7478;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 2) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;    
}

.light .download-resume-btn:hover {
    border-top-color: #b8b8b8;
    background: #a8a8a8;
    transition: 2000ms;
}


.download-resume-btn:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.new-subscriber-message-popup {
    font-size: 15px;
    font-style: italic;

}

.light .new-subscriber-message-popup {
    color: rgba(0, 0, 0, 0.803);
}

.dark .new-subscriber-message-popup {
    color: rgba(255, 255, 255, 0.878);
}


.text-black:focus {
    color: rgba(0, 0, 0, 0.803);
}

.dark .subcribe-button {
    background: #0c3855;
    color: whitesmoke;
}

.dark .subcribe-button:hover {
    border-top-color: #28597a;
    background: #3c7da8;
    transition: 2000ms;
}

.light .subcribe-button:hover {
    border-top-color: #b8b8b8;
    background: #a8a8a8;
    transition: 2000ms;
}