.resume-table {
    text-align: left;
}

.resume-dates {
    font-style: italic;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV 

Ref: https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/#:~:text=320px%20%E2%80%94%20480px%3A%20Mobile%20devices,%E2%80%94%201200px%3A%20Desktops%2C%20large%20screens
*/

.technical-skills-container {
    display: inline;
}

.technical-skill-span {
    color: #CBD5E1;
}


/* For any devices in landscape mode */
@media only screen and (orientation: landscape) {

    .technical-skills-container-inner {
        margin: 18px;
        width: 100%;
    }

    .technical-skill-span {
        margin: 4px;
        padding: 10px;
        color: #CBD5E1;
    }

    .technical-skill-span:click {
        zoom: 110%;
    }

}

/* 320px — 480px: Mobile devices portrait */
/* TODO: Does not work on S8+ - 360* 740. So we might need to see that */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {

    .technical-skills-container-inner {
        margin: 1px;
        width: 80%;
    }

    .technical-skill-span {
        margin: 1px;
        padding: 2px;
        color: #CBD5E1;
    }

    .technical-skill-span:hover {
        zoom: 110%;
    }

}

/* 481px — 768px: iPads, Tablets */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (orientation: portrait) {

    .technical-skills-container-inner {
        margin: 10px;
        width: 100%;
    }

    .technical-skill-span {
        margin: 1px;
        padding: 2px;
        color: #CBD5E1;
    }

    .technical-skill-span:hover {
        zoom: 110%;
    }

}

/* 769px — 1024px: Small screens, laptops */
@media only screen and (min-device-width: 796px) and (max-device-width: 1024px) and (orientation: portrait) {


    .technical-skills-container-inner {
        margin: 18px;
        width: 100%;
    }

    .technical-skill-span {
        margin: 4px;
        padding: 10px;
        color: #CBD5E1;
    }

    .technical-skill-span:hover {
        zoom: 110%;
    }

}

/* 
.technical-skills-container-inner {
    margin: 18px;
    width: 100%;
}

.technical-skill-span {
    margin: 4px;
    padding: 10px;
    color: #CBD5E1;
}

.technical-skill-span:hover {
    zoom: 110%;
} */

.download-resume-btn {
    width: 100px;
    margin: 5px;
    background-color: transparent;
    background-image: none;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 6.5px 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.download-resume-btn:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    transition: 10000ms
}

.download-resume-btn:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.new-subscriber-message {
    font-size: 15px;
    font-style: italic;
    color: white;
    background-color: #1E2A3B;
    margin: 10px;
    padding: 0px;
}