<script defer type="text/javascript" async src="/js/script.js"></script>

<div>
  <div class="container">
    <h2>Subscribe to my newsletter</h2>
  </div>
  <div>
    <form>
      <label class="block mb-6">
        <span class="text-gray-700">Full Name</span>
        <input
          name="name"
          type="text"
          class="
            block 
            w-full 
            mt-1 
            border-gray-300 
            rounded-md 
            shadow-sm 
            decoration-black"
          required
          value=""
          placeholder="john doe"
        />
      </label>
      <label class="block mb-6">
        <span class="text-gray-700">Email address</span>
        <input
          name="email"
          type="email"
          class="
            block 
            w-full 
            mt-1 
            border-gray-300 
            rounded-md 
            shadow-sm 
            focus:border-indigo-300 
            focus:ring 
            focus:ring-indigo-200 
            focus:ring-opacity-50"
          required
          value=""
          placeholder="john.doe@example.com"
        />
      </label>
      <div class="mb-6">
        <button 
          type="submit"
          class="
            py-3 
            px-5 
            w-full 
            text-sm 
            font-medium 
            text-center 
            text-white 
            rounded-lg 
            border 
            cursor-pointer 
            bg-primary-700 
            border-primary-600 
            sm:rounded-none 
            sm:rounded-r-lg 
            hover:bg-primary-800 
            focus:ring-4 
            focus:ring-primary-300 
            dark:bg-primary-600 
            dark:hover:bg-primary-100 
            dark:focus:ring-primary-800"
        >
          Subcribe
        </button>
      </div>
      <div class="container mb-6">
        <p id="new-subscriber-message" class="new-subscriber-message-popup"></p>
      </div>
    </form>
  </div>
</div>
